*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;
    height: 100vh;
}
.box{
    background-color: rgb(167, 167, 247);
}

.logo{
    grid-column: 1/2;
    padding-left: 30px;
    background-color: rgb(51, 50, 50);
}
.logo h1{
    margin-top: 15px;
    color: aliceblue;
}
.menu{
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: tomato;
}
.menu nav {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-weight: bold;
    align-items: center;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu nav a{
    text-decoration: none;
    color: white;
}
.hero{
    grid-column: 1/4;
    grid-row: 2/3;
    background: url(https://images.unsplash.com/photo-1756737738757-40472ecea941?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 30px;
}
.about{
    grid-column: 1/3;
    grid-row: 3/4;
    color: aliceblue;
    background-color: #2c3e50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 20px;
}
.images{
    grid-column: 3/4;
    grid-row: 3/4;
    background: url(https://images.unsplash.com/photo-1622820366109-3113cfa3825d?q=80&w=701&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.offer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 1/3;
    grid-row: 4/5;
    background-color: #F5C76A;
    font-size: 20px;
    height: 30vh;
}
button{
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}
.contact{
    grid-column: 3/5;
    grid-row: 4/5;
    background-color: #52c4a1;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}



/* tablet view */
@media screen and (min-width: 600px) and (max-width: 1024px){
    .grid{
    grid-template-rows: 1fr 4fr 6fr 2fr 2fr;
}
.logo{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 10vh;
}
.menu{
    flex-direction: column;
    font-size: 30px;
    grid-column: 1/2;
    grid-row: 2/5;
    height: 120vh;
}
.hero{
    grid-column: 2/4;
    grid-row: 1/3;
    height: 50vh;
}
.about{
    grid-column: 2/4;
    grid-row: 3/4;
    font-size: 20px;
    height: 60vh;
}
.offer{
    grid-column: 2/4;
    grid-row: 4/5;
    gap: 10px;
    height: 20vh;
}
.contact{
    grid-column: 1/3;
    grid-row: 5/6;
    height: 30vh;
    /* font-size: 30px; */
}
.image{
    grid-column: 3/4;
    grid-row: 5/6;
    height: 30vh;
}
}


/* mobile view */
@media screen and (min-width: 300px) and (max-width: 600px){
    .grid{
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr 5fr 6fr 3fr 2.5fr 3fr;
}
.logo{
    grid-column: 1/2;
    grid-row: 1/2;
    /* height: 10vh; */
}
.menu{
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    grid-column: 1/2;
    grid-row: 2/3;
    /* height: 50px; */
}
.hero{
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: small;
    /* gap: 5px; */
    /* height: 20vh; */
}
.about{
    grid-column: 1/2;
    grid-row: 4/5;
    font-size:small;
    /* height: 40vh; */
}
.offer{
    grid-column: 1/2;
    grid-row: 5/6;
    /* font-size:; */
    /* height: 20vh; */
    /* gap: 10px; */
}
.contact{
    grid-column: 1/2;
    grid-row: 6/7;
    /* height: 20vh; */
}
.image{
    grid-column: 1/2;
    grid-row: 7/8;
    /* height: 40vh; */
}
}